.booking{
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(229, 231 , 235);
    position: sticky;
    top: 80px;
}

.booking_header{
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(229, 231 , 235);

}
.booking_header span{
    font-size: 0.9rem;
    color: var(--text-color)
}
.booking_form{
    padding-top: 2rem;

}
.booking_form h5{
    margin-bottom: 1rem;
}
.booking_form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgba(229 , 231 ,235);
    outline: none;
}
.booking_infor_form{
    padding: 0.9rem ;
    border-radius: 0.5rem;
    border: 1px solid rgba(229 ,231 ,235);
}
.booking_footer li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking_footer li h5 , .booking_footer li span{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
}
.total h5 , .total span{
    color: var(--heading-color) !important;
    font-weight: 700 !important;
    font-size: 1.1rem !important;

}
button:hover{
    color: var(--text-color) !important;
}